certifi==2025.1.31
charset-normalizer==3.4.1
clarabel==0.6.0+computecanada
contourpy==1.1.1
cvxpy==1.4.2+computecanada
cycler==0.12.1
dgl==2.0.0+computecanada

ecos==2.0.14
filelock==3.16.1
fonttools==4.56.0
fsspec==2025.3.0
idna==3.10
importlib_resources==6.4.5
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.7
# littleutils==0.2.4
MarkupSafe==2.1.5
matplotlib==3.7.2
mpmath==1.3.0
networkx==3.1
numpy>=1.25
# ogb==1.3.6
osqp==0.6.7.post1+computecanada

outdated==0.2.2
pandas==2.0.2
pillow==10.4.0
protobuf==5.29.3+computecanada

pyparsing>=2.3.1
pytz==2025.2
requests==2.32.3
scikit-learn==1.3.1+computecanada

scipy==1.10.1
scs==3.2.3+computecanada

sympy==1.13.3
tensorboardX==2.6.2.2
threadpoolctl==3.5.0
torch==2.1.1+computecanada
torchdata==0.8.0
tqdm==4.67.1
typing_extensions
urllib3==2.2.3
zipp==3.20.2
